:root{
  --boxColor:#0ff7;
  --rotateSpeed:30s;
}

body {
  background-color: #000;
  min-height: 100vh;
  display:  flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
  perspective: 10em;
  perspective-origin: 50% calc(50%-2em);
}

.scene{
  position: relative;
  transform-style:preserve-3d ;
  animation: sceneRotate var(--rotateSpeed) infinite linear;

}


@keyframes sceneRotate{
  to{transform: rotateY(360deg);}
}


